h1[style="text-align: center"] Vacations

h4[style="font-style: italic; color: gray; text-align: center;"]= "from #{start_date} to #{end_date}"

table.table-striped
  thead
    tr
      th First name
      th Last name
      th Email
      th Office
      th Vacations
  tbody
    - vacations.each do |user, vacation_hours|
      tr
        td= user.first_name
        td= user.last_name
        td= user.email
        td= user.office.name
        td= vacation_hours

h1[style="text-align: center"] Sick Leaves

h4[style="font-style: italic; color: gray; text-align: center;"]= "from #{start_date} to #{end_date}"

table.table-striped
  thead
    tr
      th First name
      th Last name
      th Email
      th Office
      th Sick leaves
  tbody
    - sick_leaves.each do |user, vacation_hours|
      tr
        td= user.first_name
        td= user.last_name
        td= user.email
        td= user.office.name
        td= vacation_hours
