h1[style="text-align: center"] Working hours

h4[style="font-style: italic; color: gray; text-align: center;"]= "from #{start_date} to #{end_date}"

table.table-striped
  thead
    tr
      th First name
      th Last name
      th Email
      th Office
      th Worked hours
  tbody
    - working_hours.each do |user, worked_hours|
      tr
        td= user.first_name
        td= user.last_name
        td= user.email
        td= user.office.name
        td= worked_hours
